body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;

}
#nav-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #8b7878;
    
}
ul li{
    margin: 0 15px;
    text-transform: uppercase;
    
}
ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
footer{
    background-color: #8b7878;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer  a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.screenshot{
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 20px auto;
    display: block;
}
.screenshot img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.screenshot img:hover{
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}